
  <template name="next_call">
    <button class="btn-success btn-lg next_button">Next Call</button>
  </template>

  <template name="animal_bingo">
    <div class="currentAnimal"><img src="{{currentImageSRC.imageSRC}}"></div>
  </template>

  <template name="numbers_bingo">
      <div class="col-sm-4">
        <div class="currentNumbers">{{firstNumber.number}}</div>
        <div class="numberCall">{{firstNumber.numberCall}}</div>
      </div>
      <div class="col-sm-4">
        <div class="currentNumbers">{{secondNumber.number}}</div>
        <div class="numberCall">{{secondNumber.numberCall}}</div>
      </div>
  </template>

  <template name="new_game">
    <button class="btn new_farm">New Farm Game</button>
    <button class="btn new_jungle">New Jungle Game</button>
    <button class="btn new_sweets">New Sweets Game</button>
  </template>

  <template name="called">
    <h2>Already called:</h2>
    <div class="col-md-6">
      <div>
        <ul>
          {{#each calledImages}}
            <li class="calledAnimals"><img src="{{imageSRC}}"></li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="calledNumbers">
        <ul>
          {{#each calledNumbers}}
            <li>{{number}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </template>