<template name="bingo_game">

  {{> header}}

  <div class="row">
    <div class="col-lg-12">
      <h2>Now calling:</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
    {{> animal_bingo}}
    </div>
    {{> numbers_bingo}}
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        {{> next_call}}
      </div>
    </div>
  </div>

  <div class="row">
    {{> called}}
  </div>

  <div class="row custom_button">
    <img class="call_bingo" alt="button to start New Game" title="Reset your bingo game" src="button_NewGame.png">
  </div>

</template>