<template name="boards">

  {{> header}}

  <div class="row no-print">
    Make and print out your boards.<br>
    <form class="number_of_boards">
      How many game boards do you need? <input type="text" name="number_of_boards">
      <input type="submit" class="btn-success btn-lg make_board no-print" value = "Make Board">
    </form>
  </div>
    {{#each boardImages}}
      <div class="row board">
        {{#each this.board}}
          <div class="col-sm-5ths boardSquare">
            <img src="{{imageSRC}}"><br />
            <span class="board-caption">{{imageName}}<br />
            {{#if imageCreator}}
              <span class="tiny">by {{imageCreator}}</span>
            {{/if}}
            </span>
          </div>
        {{/each}}
      </div>
      <div class="board_code">{{code}}</div>
      {{#if pageBreak @index}}
        <div class="page-break"></div>
      {{/if}}
    {{/each}}
</template>
