<template name="boards">
  <div class="row">
    Print out your boards.<br>
    <form class="number_of_boards">
      How many game boards do you need? <input type="text" name="numberOfBoards">
    </form>
  </div>
  <button class="btn-success btn-lg make_board">Make Board</button>
<!--   <div class="row"> -->
    {{#each boardImages}}
      <div class="row board">
        {{#each this.board}}
          <div class="col-sm-5ths"><img class="boardSquare" width="150" height="150" src="{{imageSRC}}"></div>
        {{/each}}
      </div>
    {{/each}}
  <!-- </div> -->
</template>