<template name="boards">

  {{> header}}

  <div class="row no-print">
    Make and print out your boards.<br>
    <form class="number_of_boards">
      How many game boards do you need? <input type="text" name="numberOfBoards">
    </form>
  </div>
  <button class="btn-success btn-lg make_board no-print">Make Board</button>
    {{#each boardImages}}
      <div class="row board">
        {{#each this.board}}
          <div class="col-sm-5ths boardSquare">
            <img src="{{imageSRC}}"><br />
            {{imageName}}
          </div>
        {{/each}}
      </div>
      {{#if pageBreak @index}}
        <div class="page-break"></div>
      {{/if}}
    {{/each}}
</template>
