<template name="call_game">
      <h1>Welcome to St John's Family Bingo Evening</h1>
      <h2>How to play BINGO</h2>
      <p>1. Get your dabber and your bingo sheet.<br>
        2. Listen and watch carefully.<br>
        3. If - and only if! - the bingo caller calls a number or animal on your sheet, DAB IT with enthusiasm!<br>
        4. If you get 5 in a row, up-and-down or side-to-side or even diagonally, shout BINGO very, very loudly. The first person to get bingo, wins a prize!<br>
        5. The FREE SPACE is a space you can dab right away, and include in your 5-in-a-row.<br>
        7. For this evening, the animal game will stop there. The numbers game will continue for the first blackout bingo.<br>
        Blackout bingo is the first person to dab every square on their board.
      </p>
</template>