<template name="form_upload">
    <div class="row full upload">
      <div class="col-md-6 col-centered middle">

        <div>
          <form class="image-metadata">
            Short Picture Title (example: pig, rainbow, bicycle): <input type="text" name="image-title" maxlength="15">*<br />
            Initials of Creator (example: ND, SOC, JJRM)<input type="text" name="image-creator" maxlength="6"><br />
            <input type="submit" class="btn-success btn-lg no-print" value = "Submit">
          </form>
        </div>

        {{#if titleSubmitted}}
          Upload your image {{imageTitle}}: 
          {{> dropzone}}
        {{else}}
          {{> fakeDropzone}}
        {{/if}}

      </div>
    </div>
</template>