<template name="header">
  <div class="row no-print header">

    <div class="navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img alt="Family Bingo Club logo" title="Family Bingo Club logo" src="family_bingo_club_logo_g.png"></a>
    <!--         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/upload">Upload</a></li>
          <li class="active"><a href="/boards">Boards</a></li>
          <li class="active"><a href="/bingo">Game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}} <!-- here -->
        </ul>
      </div>
    </div>

  </div>
</template>