<template name="image_list"> 
  <div class="row full image_list">
    {{#if organisationSelected}}
      <h2>{{organisationSelected}}'s pictures:</h2>

      {{#each images2}}
        <div class="all-images col-sm-5ths">
          <!-- <a href="{{imgSrc}}" target="_blank" class="thumbnail"> -->
            <img src="{{imageSRC}}">
          <!-- </a> -->
          <p class="image-caption">{{imageName}}<br/>
            {{#if imageCreator}}by {{imageCreator}}{{/if}}</p>
            <!-- {{#if orgAdmin}} -->
<!--               <a class="delete-image">
                <i class="fa fa-trash"></i>
              </a>
 -->            <!-- {{/if}} -->
        </div>
      {{/each}}

    {{else}}
      <h2>Enter a code to see your group's images.</h2>
    {{/if}}


  </div>
</template>