<template name="main">
  {{> header}}

  {{> welcome}}

  {{> upload}}

  {{> image_list}}

  <!-- {{> call_game}} -->
  <div class="row full">
    <div class="col-md-6 col-centered middle">
      <p>This website is still under construction. On Thursday, it will  generate the bingo boards for us to play - with YOUR pictures! And on Friday, it will display your pictures for everyone to see.</p>
      <p>If you have any problems uploading, email saramoo at hotmail dot com.</p>
    </div>
  </div>

</template>