<template name="upload">

  {{#if organisationSelected}}
    <div class="row full upload">
      <div class="col-md-6 col-centered middle">
        <h2>You are uploading to {{organisationSelected}}.</h2>
        <p>By uploading, you promise that the picture is your work and that you allow other people to use it for bingo. Clear and bright pictures are best!</p>
      <!-- {{> dropzone}} -->
        <div>
          <form class="image-metadata">
            <p>Step 1: Enter the title and creator initials:</p>
            Short Picture Title (example: pig, rainbow, bicycle): <input type="text" name="image_title" maxlength="15">*<br />
            Initials of Creator (example: ND, SOC, JJRM): <input type="text" name="image_creator" maxlength="6"><br />
            <input type="submit" class="btn-success btn-lg no-print" value = "Submit">
          </form>

        {{#if titleSubmitted}}
          <p>Upload your image {{titleSubmitted}}: </p>
          {{> dropzone}}
        {{else}} 
          {{> fakeDropzone}}
        {{/if}}

        {{#if imageJustUploaded}}
          <p>Step 3, crop the image you uploaded. It's got to be a square to work with the bingo board:</p>
          {{#each imageJustUploaded}}

            {{>cropper}}

            {{imageTitle}}
          {{/each}}
        {{/if}}

        </div>
      </div>
    </div>

  {{else}}
    <div class="row full upload">
      <div class="col-md-6 col-centered middle">
        <p>Get the organisation code from your host or ask for the invitation link. (You do not need to sign up for an account to upload an image.)</p>
        <div>
          <form class="organisation-code">
            Organisation code: <input type="text" name="organisation_code">
            <input type="submit" class="btn-success btn-lg no-print" value = "Submit">
          </form>
        </div>
        <p>If you are hosting an event, sign up for an account to start your organisation.</p>
        </div>
    </div>
  {{/if}}
</template>


<template name="cropper">

    <div class="crop to-be-cropped">
      <img src="{{url}}" />
    </div>
    <div>
     <button id="finished-cropping">Finished Cropping</button>
    </div>

</template>
