<template name="upload">
  {{> header}}

  {{#if organisationSelected}}
    <div class="row">
      <div class="col-md-6 col-centered">
        <h2>You are uploading to {{organisationSelected}}.</h2>
        <p>By uploading your image, you promise that this is your work and that you allow other people to use it on this site and in their bingo games.</p>
        <p>Each submitted image needs approval by the host. Your host can only use 75 images in each game. For the best chance of getting your image featured in the game, make it really clear what it is. Outlines are good, with markers, and/or bright colours. Good luck!</p>
      </div>
      {{> dropzone}}
    </div>
    {{> image_crop_zone}}
    {{> image_list}}



  {{else}}
    <div class="row">
      <div class="col-md-6 col-centered">
      <p>To make sure your bingo square gets uploaded to the right game, get the organisation code from your host or ask for the invitation link. You do not need to sign up for an account to upload an image.</p>
      <div>
        <form class="organisation_code">
          Organisation code: <input type="text" name="organisation_code">
          <input type="submit" class="btn-success btn-lg no-print" value = "Submit">
        </form>
      </div>
      <p>If you are hosting an event, sign up for an account to start your organisation.</p>
      </div>
    </div>
  {{/if}}
</template>

