<template name="welcome">

  <div class="row full welcome">
    <div class="col-lg-6 col-md-6 col-sm-6 col-centered middle">

      <img alt="Family Bingo Club logo" title="Family Bingo Club logo" src="family_bingo_club_logo_s.png">
      <h2>Bingo for all ages.</h2>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 middle">
      <h2><a href="/upload">Upload images</a></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 middle">
      <h2><a href="/boards">Create boards</a></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 middle">
      <h2><a href="/bingo">Host game</a></h2>
    </div>

  </div>

<!--   <div class="row">
    <div class="col-lg-12 col-centered custom_button">
      <a href="/upload"><img alt="button to Upload Image page" title="Upload images to get custom-made bingo boards" src="button_UploadImage.png"></a>
      
      <a href="/boards"><img alt="button to Make Boards page" title="Choose quantity and print out custom-made bingo boards" src="button_MakeBoards.png"></a>
      
      <a href="/bingo"><img class="call_bingo" alt="button to Call Game page" title="Call images and bingo numbers with bingo lingo" src="button_CallGame.png"></a>
    </div>
  </div> -->

</template>
