/* CSS declarations go here */


/* My styles */
@media all {
  .page-break { display: none; } /*Page breaks for print optimisation, not displayed*/
}

@media screen {

  html {
    height: 100%;
  }
  /* Need for both html and body*/

  @font-face {
    font-family: LiberationSans;
    src: url("/fonts/LiberationSans-Regular.ttf");
  }

  body {
    font-family: LiberationSans, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    color: #7d7d7d;

    height: 100%;
    width: 100%;

    margin: 0 auto 0 auto;
  }

  header, section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative; /* Everything that is absolute stays within parent*/
  }

  .row {
    text-align: center;
  }

  .row a {
    color: #7d7d7d;
  }

  .row a:hover { 
    text-decoration: none; 
    color: #a6a5a5;
  }

  .full {
    position: relative;
    padding: 5% 0 5% 0;
    margin: 0 auto 0 auto;
  }

  .welcome {
    background: #bff7ae;
  }

  .middle {
    top: 30%;
  }

  /*Navigation */
  .header img {
    height: 150%;
  }

  .navbar-default {
    padding: 0 2% 0 2%;
  }


  .upload {
    position: relative;

  }

  .image_list {
    position: relative;
    background: #baf9a7;
    width: 80%;
    padding: 2%;
  }

  .image_list img {
    width: 100%;
    height: auto;
  }

  .upload img {
    max-width: 100%; /* very important for cropper*/
  }

  .make_boards {

  }

  .call_game {

  }

  p {
    text-align: left;
    margin: 2% 0 2% 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .black {
    color: black;
  }

  .image-caption {
    font-size: .8em;
  }

  .col-centered{
    float: none;
    margin: 0 auto;
  }


  .main-title a {
    color: #bed94a;
  }

  .main-title a:hover { 
    text-decoration: none; 
  }



  .calledAnimals {
    height: 100px;
    width: 100px;
  }

  .currentNumbers {
    font-size: 1500%;
  }

  .currentAnimal img {
    height: 400px;
  }

  .numberCall {
    font-size: 250%;
  }

  .boardSquare {
    height: 200px;
    width: 200px;
    padding-top: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #939393;
    background-size: cover;
    /*font-size: 150%;*/
    line-height: 100%;
  }

  .boardSquare img {
    height: 140px;
    width: 140px;
    margin-bottom: 5px
  }

  .board {
    width: 1000px;
    margin: 100px;
    border-style: solid;
    border-width: 10px;
  }

  .board-caption {
    font-size: 150%;
    line-height: 60%
  }

  .tiny {
    font-size: .4em;
    line-height: 10%
  }

  .custom_button img {
    height: 200px;
  }

  .col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths { 
    position: relative; 
    min-height: 1px; 
    width: 20%; 
    float: left;
  }

}

/* All margins set to 2cm */
@page { 
  margin: 2cm;
}

/* Top margin on first page 10cm */
@page :first {
  margin-top: .5cm
}

@media print {

  .no-print {
    display: none; 
  }

 body {
    font-family: LiberationSans, Arial, sans-serif;
    font-size: 16px;
    /*line-height: 1.5;*/
    color: #7d7d7d;
  }

  .row {
    text-align: center;
    min-height: 100px;
    width: 100%; 
    margin: 0; 
    float: none;
  }

  .boardSquare {
    height: 80px;
    width: 80px;
    padding-top: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #939393;
    background-size: cover;
    line-height: 40%;
    overflow: hidden;
  }

  .boardSquare img {
    height: 75%;
    width: auto;
    margin-bottom: .5px;
  }

  .board {
    width: 400px;
    margin: 50px;
    border-style: solid;
    border-color: #939393;
    border-width: 5px;
  }

  .board-caption {
    font-size: 60%;
  }

  .tiny {
    font-size: 60%;
  }

  .page-break { 
    display: block; 
    page-break-before: always; 
  }

  .col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths { 
    position: relative; 
    min-height: 1px; 
    width: 20%; 
    float: left;
  }

}